<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  <body>
    <div class =  "link-container">
    <% if (user) { %>
      <a href = "https://nightlife-coordination-app-darkweld.c9users.io/profile">Profile</a>
      <a href = "https://nightlife-coordination-app-darkweld.c9users.io/logout">Logout</a>
    <% } else { %>
      <a href = "https://nightlife-coordination-app-darkweld.c9users.io/login">Login</a>
    <% } %>
    </div>
    
    
    
    
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>