<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  
  <body>
    
    
    <div class =  "link-container">
    <% if (user) { %>
      <a href = "/profile">Profile</a>
      <a href = "/logout">Logout</a>
    <% } else { %>
      <a href = "/login">Login</a>
    <% } %>
    </div>
    
    <div id = "root"></div>
    
    <p class = attribution>Stock API provided by <a>https://www.alphavantage.co/</a></p>
    
    
    
    <script type = 'text/javascript' src= '/node_modules/Chart.bundle.js'></script>
    <script type = 'text/javascript' src = "/controllers/stockControllerUtilities.js"></script>
    <script type = 'text/javascript' src = "/controllers/stockControllerNew.js"></script>
    
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>
